html {
  font-size: 14px;
  overflow: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: 'monstserrat', sans-serif;
  background: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  color: white;
}

ol, ul, li {
  list-style: none;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(22, 75, 79, 0.97381) 31%, rgba(30, 191, 182, 0.522829) 100%);
}

.content {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.wrapper {
  min-height: 260px;
}

.scroll-anim {
  position: fixed;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}

.scroll-anim .scroll {
  position: relative;
  width: 20px;
  height: 40px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  transition: all .2s ease-in;
  cursor: move;
}

.scroll-anim .scroll:hover {
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.scroll-anim .dot {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: white;
  animation: scroll 1.5s infinite;
}

@keyframes scroll {
  0% {
    top: 5px;
  }
  100% {
    top: 25px;
  }
}

.navbar {
  z-index: 15;
  display: block;
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.navbar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar__item {
  margin: 10px 0;
  font-size: 1.25rem;
}

.navbar__link {
  cursor: pointer;
  color: #a19e9e;
}

.navbar__link--is-active {
  color: white;
}

.navbar__link:hover i::before, .navbar__link:hover {
  color: white;
}

.navbar__link i {
  line-height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
}

.navbar__link span {
  margin-left: 10px;
}

.site-map {
  position: fixed;
  width: 200px;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 15;
}

.site-map__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-map__circle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 7px;
  margin: 10px 0;
  height: 7px;
  transform: scale(1);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transition: all 300ms ease;
}

.site-map__circle:hover {
  transform: scale(1.7);
  background: white;
}

.site-map__circle--is-active {
  transform: scale(1.7) !important;
  background: white !important;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header__title {
  position: relative;
  font-size: 5rem;
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 14px;
}

.header__title::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 10px;
  width: 50%;
  height: 3px;
  background: white;
}

.header__button {
  cursor: pointer;
  margin-top: 20px;
  color: #a19e9e;
  padding: 5px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #a19e9e;
  border-width: 2px;
  background: transparent;
  transition: all 0.2s ease;
  transform: scale(1);
}

.header__button:hover {
  transform: scale(1.02);
  border-color: white;
  color: white;
}

.header__logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

.header__logo {
  display: block;
  transform: rotate(-30deg);
  font-size: 9rem;
  font-family: "Bowlby One SC", cursive;
}

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about__span {
  font-size: 7rem;
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 10px;
  opacity: .05;
  position: absolute;
  top: -45%;
  left: 0;
}

.about__title {
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 5px;
}

.about__text {
  line-height: 35px;
  font-size: 1.2rem;
}

.services {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__titles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 80px;
}

.services__span {
  font-size: 7rem;
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 10px;
  opacity: .05;
  position: absolute;
  top: -145%;
  left: 0;
}

.services__title {
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 2px;
}

.services__content {
  position: relative;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__box {
  width: 350px;
  height: 450px;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #56bae9;
  border-radius: 8px;
  padding: 60px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all .35s ease;
}

.services__box:hover {
  background: rgba(255, 255, 255, 0.35);
  border: 2px solid rgba(255, 255, 255, 0.55);
}

.services__box i {
  font-size: 2.25rem;
}

.services__box i::before {
  color: #56bae9;
}

.services__subtitle {
  margin: 50px auto;
  font-size: 2.25rem;
}

.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__titles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 80px;
}

.projects__span {
  font-size: 7rem;
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 10px;
  opacity: .05;
  position: absolute;
  top: -145%;
  left: 0;
}

.projects__title {
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 2px;
}

.projects__content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 500px;
  max-height: 500px;
  margin: 0 auto;
}

.projects__button-box {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.projects__button {
  cursor: pointer;
  margin: 0 10px;
  color: #a19e9e;
  padding: 5px 15px;
  font-size: 1.15rem;
  border-radius: 10px;
  border-style: solid;
  border-color: #a19e9e;
  border-width: 2px;
  background: transparent;
  transition: all 0.2s ease;
  transform: scale(1);
}

.projects__button:hover {
  transform: scale(1.02);
  border-color: white;
  color: white;
}

.projects__button--is-active {
  border-color: white;
  color: white;
}

.projects .button--all {
  padding: 5px 25px !important;
}

.projects__images-container {
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  padding: 25px;
  min-height: 450px;
  min-width: 1200px;
}

.projects__images-container::-webkit-scrollbar {
  width: 12px;
}

.projects__images-container::-webkit-scrollbar-track {
  background: transparent;
}

.projects__images-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

.projects__images-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.projects__box {
  width: 1200px;
  min-width: 1200px;
  min-height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.projects__box--is-active {
  display: flex !important;
}

.projects__box--all {
  display: none;
}

.projects__box--sites {
  display: none;
  transform: scale(0);
}

.projects__box--graphic {
  display: none;
  transform: scale(0);
}

.projects__box--photos {
  display: none;
  transform: scale(0);
}

.projects__image {
  width: 350px;
  height: 200px;
  margin: 10px;
  position: relative;
}

.projects__image::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  background: #0d6b97c2;
  bottom: 0;
  left: 0;
  transition: all .3s ease-in;
  z-index: 10;
}

.projects__image:hover::after {
  height: 100%;
}

.projects__image:hover .projects__button-image {
  display: block;
}

.projects__image img {
  width: 100%;
  height: 100%;
}

.projects__button-image {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  color: white;
  border-color: white;
  transition: all .3s ease;
}

.projects__button-image:hover {
  background: rgba(255, 255, 255, 0.3);
  border-color: #56bae9;
  color: white;
  transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */