section.about
    .about__wrapper.wrapper
        span.about__span What we do?
        h2.about__title What we do?

        p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis, metus a luctus iaculis, mi nisl egestas lacus, tempor sagittis sapien neque facilisis dolor. Curabitur eu sollicitudin velit, vitae vehicula orci. Etiam gravida ex a eleifend tempor. Nulla ultrices vehicula semper. Nullam dui lacus, molestie et enim eu, euismod pellentesque neque.