section.contact
    .contact__titles
        h2.contact__title Contact
        span.contact__span Contact
    .contact__content
        form.contact__form
            input(type="text" placeholder="Name")
            input(type="email" placeholder="Email")
            textarea(name="contact-area" placeholder="Message")

            button.button.button__contact(for=".contat__form" resize="none") Send Message
