section.header.is--visible
    .header__wrapper.wrapper
        .header__titles
            h1.header__title Extemo
            h4.header__subtitle Your free web template

            button.header__button.about-link Get started

        .header__logo-box
            span.header__logo E