doctype
html(lang="en" xmlns:th="http://www.thymeleaf.org")
    head
        title Extemo
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/style.css")
        link(href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Montserrat:ital,wght@0,400;1,500&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        meta(http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1")

    body
        main.container
            include navbar

            section.content
                include header
                include about
                include services
                include projects
                include pricing
                include contact

            footer.footer
                p All rights reserved | 2020
                span Daniel Wyskup 

                

        script(src="assets/js/app.js")
        script(src="assets/js/projectsButton.js")
        script(src="assets/js/viewer.js")
        script(src="assets/js/mobileNavbar.js")