.mobilenav-menu-icon
    i.fas.fa-bars.mobilenav__active-icon

nav.navbar
    i.fas.fa-times.navbar__close-icon
    ul.navbar__list
        li.navbar__item
            a.navbar__link.navbar__link--is-active(class="home-link")
                i.fas.fa-home
                span Home
        li.navbar__item
            a.navbar__link(class="about-link")
                i.fas.fa-users
                span About
        li.navbar__item
            a.navbar__link(class="services-link")
                i.fas.fa-server
                span Services
        li.navbar__item
            a.navbar__link(class="projects-link")
                i.fas.fa-cog
                span Projects
        li.navbar__item
            a.navbar__link(class="pricing-link")
                i.fas.fa-dollar-sign
                span Pricing
        li.navbar__item
            a.navbar__link(class="contact-link")
                i.fas.fa-envelope
                span Contact