section.pricing
    .pricing__titles
        h2.pricing__title Choose your plan
        span.pricing__span Pricing

    .pricing__content
        .pricing__box
            h3.pricing__title Basic

            p.pricing__price $30
                span per hour

            .pricing__box-body
                span Up to 7 Projects
                span 2 Additional Developers

            button.button.button__pricing Get started

        .pricing__box.pricing__box--best
            h3.pricing__title Gold

            p.pricing__price $60
                span per hour

            .pricing__box-body
                span Up to 25 Projects
                span 2 Additional Developers
                span Unlimited Support

            button.button.button__pricing Get started

        .pricing__box
            h3.pricing__title Platinum

            p.pricing__price $120
                span per hour

            .pricing__box-body
                span Up to 25 Projects
                span 2 Additional Developers
                span Unlimited Support
                span 30GB Disk space
                span Free template

            button.button.button__pricing Get started