section.projects
    .projects__titles
        h2.projects__title Our projects
        span.projects__span Projects

    .projects__content
        .projects__button-box
            button.button.button--all.projects__button--is-active All
            button.button.button--site Websites
            button.button.button--graphic Graphic
            button.button.button--photos Photography

        .projects__images-container
            .projects__box.projects__box--all.projects__box--is-active
                .projects__image
                    image(src="images/projects/img1.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img2.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img3.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img4.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img5.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img6.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img6.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img3.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img1.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img6.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img2.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img3.jpg")
                        button.button.projects__button-image View

            .projects__box.projects__box--sites
                .projects__image
                    image(src="images/projects/img5.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img6.jpg")
                        button.button.projects__button-image View


            .projects__box.projects__box--graphic
                .projects__image
                    image(src="images/projects/img2.jpg")
                        button.button.projects__button-image View

            .projects__box.projects__box--photos
                .projects__image
                    image(src="images/projects/img1.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img4.jpg")
                        button.button.projects__button-image View
                .projects__image
                    image(src="images/projects/img3.jpg")
                        button.button.projects__button-image View

    .viewer
        .blur
        .viewer__image-container
            i.fas.fa-times