section.projects
    .projects__titles
        h2.projects__title Our projects
        span.projects__span Projects

    .projects__content
        .projects__button-box
            button.projects__button.button--all.projects__button--is-active All
            button.projects__button.button--site Websites
            button.projects__button.button--graphic Graphic
            button.projects__button.button--photos Photography

        .projects__images-container
            .projects__box.projects__box--all.projects__box--is-active
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img1.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img2.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img3.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img4.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img5.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img6.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img6.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img3.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img1.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img6.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img2.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img3.jpg")

            .projects__box.projects__box--sites
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img5.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img6.jpg")


            .projects__box.projects__box--graphic
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img2.jpg")

            .projects__box.projects__box--photos
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img1.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img4.jpg")
                .projects__image
                    button.projects__button.projects__button-image View
                    image(src="images/projects/img3.jpg")

