section.services
    .services__titles
            h2.services__title Services
            span.services__span Services

    .services__content
        .services__box
            i.fas.fa-info
            h2.services__subtitle Lorem Ipsum

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget porttitor quam, tristique congue ex.
        .services__box
            i.fas.fa-battery-full
            h2.services__subtitle Lorem Ipsum

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget porttitor quam, tristique congue ex.

        .services__box
            i.fas.fa-cog
            h2.services__subtitle Lorem Ipsum
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget porttitor quam, tristique congue ex.