section.site-map
    ul.site-map__list
        li.site-map__item 
            a.site-map__circle(class="home-link").site-map__circle--is-active
        li.site-map__item
            a.site-map__circle(class="about-link")
        li.site-map__item
            a.site-map__circle(class="services-link")
        li.site-map__item
            a.site-map__circle(class="projects-link")
        li.site-map__item
            a.site-map__circle(class="pricing-link")
        li.site-map__item
            a.site-map__circle(class="contact-link")
        li.site-map__item
            a.site-map__circle(class="")