.about
    @include containerSettings

    &__wrapper
        position: relative
        width: 100%
        max-width: 1200px
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center



    &__span
        @include titleSpan
        top: -45%

    &__title
        @include title

    &__text
        line-height: 35px
        font:
            size: 1.2rem