.about
    @include containerSettings

    &__wrapper
        position: relative
        width: 100%
        max-width: 1200px
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center

    &__span
        @include titleSpan
        top: -75%

    &__title
        @include title

    &__text
        line-height: 35px
        font:
            size: 1.2rem

@media (max-width: 1200px)
    .about

        &__span
            display: none

        &__wrapper
            padding: 0 50px

@media (max-width: 980px)
    .about

        &__wrapper
            max-width: 100%
            height: 100%
            padding: 0 15px
            justify-content: space-evenly