.services
    @include containerSettings

    &__titles
        @include titles

    &__span
        @include titleSpan
        top: -145%
 
    &__title
        @include title

    &__content
        position: relative
        width: 1200px
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between

    &__box
        width: 350px
        height: 450px
        background: rgba(255, 255, 255, .1)
        border: 2px solid $accent-color
        border-radius: 8px
        padding: 60px 20px 20px 20px
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        transition: all .35s ease

        &:hover
            background: rgba(255, 255, 255, .15)      

        i
            font:
                size: 2.25rem

            &::before
                color: $accent-color

    &__subtitle
        margin: 50px auto
        font:
            size: 2.25rem

@media (max-width: 1200px)
    .services

        &__titles
            margin-bottom: 30px

        &__span
            display: none

        &__content
            width: 100%
            justify-content: space-evenly

        &__box
            width: 275px
            height: 375px

@media (max-width: 980px)
    .services
        height: auto

        &__content
            flex-direction: row
            align-items: center

@media (max-width: 736px)
    .services

        &__box
            width: 260px
            height: 380px
            padding: 25px 20px
            justify-content: space-evenly
            margin: 25px 0

@media (max-width: 480px)
    .services

        &__content
            height: 100%

        &__subtitle
            margin: 15px 0